{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
    <h1> Add Post </h1>

    <div class="form-group">
        <form  method="post">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-success"> Add </button>
        </form>
    </div>

    <script>
        let name = "{{ user.id }}";
        document.getElementById("author_input").value = name;
    </script>

{% else %}

Error: Invalid access :(

{% endif %}

{% endblock %}