{% extends 'base.html' %}
{% block title %} {{ post.post_title }} {% endblock %}

{% block content %}


{% if post %}

    <div>

        <h3>Post Category: {{ post.category.name }}</h3>
        <p> Posted by {{ post.user.first_name }}
            {{ post.user.last_name }} on {{ post.pub_date}}

             {% if user.is_authenticated and user.id == post.user.id %}
                <small>
                    (
                    <a href="{% url 'posts:edit_post' post.id %}"> Edit </a>
                    |
                    <a href="{% url 'posts:delete_post' post.id %}"> Delete </a>
                    )
                </small>
            {% endif %}
        </p>

        <h2>{{ post.post_title }}</h2>



        {% if post.post_image %}
            <img src="{{ post.post_image.url }}" class="img-fluid">
        {% endif %}

        <p> {{ post.post_description|safe }} </p>

        <form action="{% url 'posts:vote_post' post.pk %}" method="POST">
            {% csrf_token %}

            {% if user.is_authenticated %}
                {% if upvoted %}
                <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">
                    Down Vote </button>

                {% else %}
                <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">
                    Up Vote </button>

                {% endif %}
            {% else %}
            Log in to vote.

            {% endif %}

            | Up Votes: {{ total_votes }}
        </form>

        <h3>Comments:</h3>

        {% for comment in post.comment_set.all  %}


            <p>{{ comment.user.first_name }} {{ comment.user.last_name }}:</p>
            <p> {{ comment.comment_text }} </p>


        {% endfor %}

    </div>

{% else %}
    <p> Post not found.</p>
{% endif %}

<a href="{% url 'posts:index' %}" class="btn btn-secondary">Back</a>

{% endblock %}