{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'posts/style.css' %}">

{% if post %}

    <div class="post_box">

        <p class="post_credit"> Posted by {{ post.user.first_name }}
            {{ post.user.last_name }} on {{ post.pub_date}} </p>

        <h2>{{ post.post_title }}</h2>

        {% if post.post_image %}
            <img src="{{ post.post_image.url }}">
        {% endif %}

        <p> {{ post.post_description }} </p>


        <h3>Comments:</h3>

        {% for comment in post.comment_set.all  %}


            <p class="comment_name">{{ comment.user.first_name }} {{ comment.user.last_name }}:</p>
            <p class="comment_text"> {{ comment.comment_text }} </p>


        {% endfor %}

    </div>

{% else %}
    <p> Post not found.</p>
{% endif %}