{% extends 'base.html' %}
{% load static %}
{% block title %} {{ post.post_title }} {% endblock %}

{% block content %}


{% if post %}


        <h3>Post Category: {{ post.category.name }}</h3>
        <p> Posted by {{ post.user.first_name }}
            {{ post.user.last_name }} on {{ post.pub_date}}

             {% if user.is_authenticated and user.id == post.user.id %}
                <small>
                    (
                    <a href="{% url 'posts:edit_post' post.id %}"> Edit </a>
                    |
                    <a href="{% url 'posts:delete_post' post.id %}"> Delete </a>
                    )
                </small>
            {% endif %}
        </p>

        <h2>{{ post.post_title }}</h2>



        {% if post.post_image %}
            <img src="{{ post.post_image.url }}" class="img-fluid">
        {% endif %}

        <p> {{ post.post_description|safe }} </p>

        <form action="{% url 'posts:vote_post' post.pk %}" method="POST">
            {% csrf_token %}

            {% if user.is_authenticated %}
                {% if upvoted %}
                <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">
                    Down Vote </button>

                {% else %}
                <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">
                    Up Vote </button>

                {% endif %}
            {% else %}
            Log in to vote.

            {% endif %}

            | Up Votes: {{ total_votes }}
        </form>

        <br>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
                {% if post.user.profile.profile_pic %}
                    <img src="{{ post.user.profile.profile_pic.url }}" class="img-fluid rounded-start">

                {% else %}
                    <img src="{% static 'mysite/images/Default_pfp.jpg' %}" class="img-fluid rounded-start">
                {% endif %}


            </div>
            <div class="col-md-8">
              <div class="card-body">

                <h5 class="card-title">{{ post.user.first_name }} {{ post.user.last_name }}</h5>

                <p class="card-text"> {{ post.user.profile.bio|safe }} </p>

                <p class="card-text"><small class="text-muted">

                    <a href="{% url 'members:profile_page' post.user.profile.id %}"> Profile Page | </a>

                    {% if post.user.profile.website_url %}
                        <a href="{{ post.user.profile.website_url }}"> Website </a> |
                    {% endif %}

                    {% if post.user.profile.facebook_url %}
                        <a href="{{ post.user.profile.facebook_url }}"> Facebook </a> |
                    {% endif %}

                    {% if post.user.profile.twitter_url %}
                        <a href="{{ post.user.profile.twitter_url }}"> Twitter </a> |
                    {% endif %}

                    {% if post.user.profile.instagram_url %}
                        <a href="{{ post.user.profile.instagram_url }}"> Instagram </a>
                    {% endif %}

                </small></p>
              </div>
            </div>
          </div>
        </div>
        <br>
        <hr>
        <br>
        <h3>Comments:</h3>
        <br>
        {% if not post.comments.all %}
            No comments.
        {% else %}
            {% for comment in post.comments.all  %}


                <strong>
                    <p>{{ comment.user.first_name }} {{ comment.user.last_name }} - {{ comment.pub_date }}</p>

                </strong>
                <p> {{ comment.comment_text }} </p>


            {% endfor %}
        {% endif %}



    <a href="{% url 'posts:add_comment' post.pk %}" class="btn btn-primary">Add Comment</a>
{% else %}
    <p> Post not found.</p>
{% endif %}

<a href="{% url 'posts:index' %}" class="btn btn-secondary">Back</a>

{% endblock %}