{% extends 'base.html' %}

{% block content %}

<h1> Login into News Sphere </h1>

<div class="form-group">
    <form  method="post">
        {% csrf_token %}

         <div class="mb-3">

            <label class="form-label">User Name</label>
            <input type="text" class="form-control" name="username">

          </div>

          <div class="mb-3">

            <label class="form-label">Password</label>
            <input type="password" class="form-control" name="password">

          </div>

        <button class="btn btn-success"> Login </button>
    </form>
</div>

{% endblock %}